@use "../variables/colors";
@use "../variables/fonts";

.button {
  background-color: colors.$secondary;
  font-family: fonts.$main-font;
  font-weight: 700;
  width: 100px;
  padding: 8px;
  cursor: pointer;

  &:hover:enabled {
    background-color: colors.$secondary-hover;
  }
  &:active:enabled {
    background-color: colors.$secondary-active;
  }
}
